@use "./../../../variables" as colors;

.AdminReports_Container {
    min-height: calc(100dvh - 5rem);
    max-height: calc(100dvh - 5rem);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;

    .Metrics_Container,
    .Graphs_Container {
        box-shadow: none;
        border-radius: 0;
        background-color: unset;
    }

    > .Metrics_Container {
        display: flex;
        gap: 1.5rem;
        flex-wrap: wrap;
    }

    > .Graphs_Container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }

    > .Entries_Container {
        min-height: clamp(17.1875rem, 20.3991rem + -7.1171vw, 16.2rem);
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        border-radius: 0.5rem;
        background-color: colors.$tc-light;

        > h4 {
            font-weight: bold;
        }

        > .Entries_Cards_Container {
            display: flex;
            gap: 0.625rem;
            overflow-x: auto;
            box-shadow: none;
        }
    }

    @media screen and (max-width: 900px) {
        padding: 1rem;

        > .Metrics_Container {
            gap: 1rem;
        }

        > .Graphs_Container {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;

            > div {
                height: 27.09375rem;
            }
        }
    }
}
