@import "/src/variables";

.Bubble {
    box-shadow: 0 0.25rem 0.25rem rgba($tc-dark, 0.25);

    width: 3.125rem;
    height: 3.125rem;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    svg {
        font-size: 1.5rem;
        color: $pc-50;
    }

    &:hover {
        cursor: pointer;
    }
}