@import "/src/variables";

.Filters {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    //gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0 0.5rem 0;

    .react-datepicker-wrapper {
        margin: 0 1rem 0 0;
    }

    label {
        display: none;
    }
}