@import "/src/variables";

.ModalContainer {
    z-index: 100;
    position: absolute;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;
    padding: 1rem;

    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    
    background-color: $pc-50;

    .UpperContainer {
        width: 100%;

        display: flex;
        
        align-items: flex-start;
        justify-content: space-between;
        flex-grow: 0.25;

        .MenuButton {
            box-shadow: 0 0.25rem 0.25rem rgba($tc-dark, 0.25);

            width: 3.125rem;
            height: 3.125rem;

            border-radius: 50%;

            display: flex;
            
            justify-content: center;
            align-items: center;
            
            svg {
                font-size: 1.5rem;
                color: $pc-50;
            }

            &:hover {
                cursor: pointer;
            }
        }

        .Avatar {
            width: 4rem;
            height: 4rem;
    
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
    
                box-shadow: 0 0.25rem 0.25rem rgba($tc-dark, 0.25);
    
                object-fit: cover;
            }
        }
    }

    .BottomContainer {
        width: 100%;
        flex-grow: 1;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
    }
}