//* Primary colors
$pc-50: #F4F8FB;
$pc-100: #E8EFF6;
$pc-200: #CBDFEC;
$pc-300: #9EC4DB;
$pc-400: #6AA6C6;
$pc-500: #4281A4;
$pc-600: #357094;
$pc-700: #2C5978;
$pc-800: #284C64;
$pc-900: #254155;
$pc-950: #192B38;

//* Secondary colors

$sc-50: #FEF5EE;
$sc-100: #FEE7D6;
$sc-200: #FBCCAD;
$sc-300: #F8A879;
$sc-400: #F4743B;
$sc-500: #F1561E;
$sc-600: #E23D14;
$sc-700: #BC2C12;
$sc-800: #952417;
$sc-900: #782116;
$sc-950: #410D09;

//* Accent colors
//* Greens

$acg-50: #F1F8F2;
$acg-100: #DDEEDD;
$acg-200: #BDDDBF;
$acg-300: #91C498;
$acg-400: #6BAA75;
$acg-500: #41884E;
$acg-600: #2F6C3C;
$acg-700: #265632;
$acg-800: #204529;
$acg-900: #1B3923;
$acg-950: #0E2013;


//* Reds

$acr-50: #FFF2F1;
$acr-100: #FFE3E0;
$acr-200: #FFCBC6;
$acr-300: #FFA79F;
$acr-400: #FF7568;
$acr-500: #FB4D3D;
$acr-600: #E92B19;
$acr-700: #C42011;
$acr-800: #A21E12;
$acr-900: #861F16;
$acr-950: #490C06;

//* Yellows

$acy-50: #FEFCE8;
$acy-100: #FDF8C4;
$acy-200: #FDF08B;
$acy-300: #FBDF49;
$acy-400: #F7CB15;
$acy-500: #E7B30B;
$acy-600: #C78A07;
$acy-700: #9F6309;
$acy-800: #834E10;
$acy-900: #704013;
$acy-950: #412007;

//* Text colors

$tc-light: #F9F9F9;
$tc-dark: #001021;